# Data Manipulation

**Write and execute R code in the code cells per the instructions.  The expected results are provided for you directly following the code cells.**

In [1]:
f = "setup.R"; for (i in 1:10) { if (file.exists(f)) break else f = paste0("../", f) }; source(f)

## Problem 1

Construct a dataset (i.e., dataframe) with 6 observations and 4 variables, as follows:
* The first variable is named `name` and comprises these values: A, B, C, D, E, F
* The second variable is named `x1` and comprises these values: 2.5, 2, 9, 6.5, 8, 4
* The third variabe is named `x2` and comprises these values: 7, 3.5, 1, 7, 2.5, 8.5
* Thefourth variable is named `x3` and comrpises these values: 9, 10, 1, 2, 1.5, 9

You may want to use these function(s):
* data.frame()

In [2]:
data = data.frame(name=c("A","B","C","D","E","F"),
                  x1=c(2.5, 2, 9, 6.5, 8, 4),
                  x2=c(7, 3.5, 1, 7, 2.5, 8.5),
                  x3=c(9, 10, 1, 2, 1.5, 9))
data

  name x1  x2  x3
1 A    2.5 7.0  9.0
2 B    2.0 3.5 10.0
3 C    9.0 1.0  1.0
4 D    6.5 7.0  2.0
5 E    8.0 2.5  1.5
6 F    4.0 8.5  9.0

## Problem 2

Summarize the dataset as table of variable types.

You may want to use these function(s):
* data.frame()
* class()

  name   x1      x2      x3
1 factor numeric numeric numeric

## Problem 3

Select variables `x1` and `x2` of the dataset.

  x1  x2
1 2.5 7.0
2 2.0 3.5
3 9.0 1.0
4 6.5 7.0
5 8.0 2.5
6 4.0 8.5

## Problem 4

Select observations 1 and 2 of the dataset.

  name x1  x2  x3
1 A    2.5 7.0  9
2 B    2.0 3.5 10

## Problem 5

Select variable `x1` of the dataset presented as a vector.

[1] 2.5 2.0 9.0 6.5 8.0 4.0

## Problem 6

Select the numeric variables of observation 1 of the dataset presented as a vector.

You may want to use these function(s):
* as.numeric()

[1] 2.5 7.0 9.0

## Problem 7

Change the dataset to include this additional observation: name is F, x1 is 3.1, x2 is 4.2, x3 is 5.3.

You may want to use these function(s):
* rbind()
* data.frame()

  name x1  x2  x3
1 A    2.5 7.0  9.0
2 B    2.0 3.5 10.0
3 C    9.0 1.0  1.0
4 D    6.5 7.0  2.0
5 E    8.0 2.5  1.5
6 F    4.0 8.5  9.0
7 F    3.1 4.2  5.3

## Problem 8

Construct another dataset (i.e., dataframe) with 4 observations and 3 variables, as follows:
* The first variable is named `name` and comprises these values: A, C, D, F
* The second variable is named `x4` and comprises these values: 2.5, 2, 9, 6.5
* The third variabe is named `x5` and comprises these values: 7, 3.5, 1, 7

Then join by name this new dataset to the previous dataset.

You may want to use these function(s):
* data.frame()
* merge()

  name x1  x2  x3  x4  x5
1 A    2.5 7.0 9.0 2.5 7.0
2 C    9.0 1.0 1.0 2.0 3.5
3 D    6.5 7.0 2.0 9.0 1.0
4 F    4.0 8.5 9.0 6.5 7.0
5 F    3.1 4.2 5.3 6.5 7.0

<font size=1;>
<p style="text-align: left;">
Copyright (c) Berkeley Data Analytics Group, LLC
<span style="float: right;">
Document revised January 6, 2021
</span>
</p>
</font>