# Descriptive Statistics,&<br>Synthetic Variables

**Write and execute R code in the code cells per the instructions.  The expected results are provided for you directly following the code cells.**

In [1]:
f = "setup.R"; for (i in 1:10) { if (file.exists(f)) break else f = paste0("../", f) }; source(f)

## Problem 1

Construct a dataset (i.e., dataframe) with 6 observations and 4 variables, as follows:
* The first variable is named `name` and comprises these values: A, B, C, D, E, F
* The second variable is named `x1` and comprises these values: 2.5, 2, 9, 6.5, 8, 4
* The third variabe is named `x2` and comprises these values: 7, 3.5, 1, 7, 2.5, 8.5
* Thefourth variable is named `x3` and comrpises these values: 9, 10, 1, 2, 1.5, 9

You may want to use these function(s):
* data.frame()

  name x1  x2  x3
1 A    2.5 7.0  9.0
2 B    2.0 3.5 10.0
3 C    9.0 1.0  1.0
4 D    6.5 7.0  2.0
5 E    8.0 2.5  1.5
6 F    4.0 8.5  9.0

## Problem 7

Summarize the dataset as the correlation of variables `x1` vs. `x2`.  

You may want to use these function(s):
* cor()

Note: `cor` can be used in 2 ways. `cor(table)` results in a table.  `cor(vector, vector)` results in a number.  Use the `cor(vector, vector)` form.

[1] -0.5560533

## Problem 8

Summarize the dataset as a table with rows for variables `x1`, `x2`, and `x3`, and columns for the mean, standard deviation, median, minimum, maximum, and range **calculated across only the first and second** observations.

You may want to use these function(s):
* describe()
* as.data.frame()

Note: `describe` accepts one parameter - it accepts the table on which it will calculate statistics.

   mean sd        median min max  range
x1 2.25 0.3535534 2.25   2.0  2.5 0.5
x2 5.25 2.4748737 5.25   3.5  7.0 3.5
x3 9.50 0.7071068 9.50   9.0 10.0 1.0

## Problem 9

Select the most frequently occuring value in variable `x2` (from the full dataset).

You may want to use these function(s):
* max()
* table()
* names()
* as.numeric()

Note: `==` is the operator to test for equivalence.<br>
Note: You can use the vector of boolean values in criterion-based selection.<br>
Note: `x2` is a numeric variable, not a categorical (factor) variable.

[1] 7

## Problem 10

Use named-based selection to reorder variables as `name`, `x3`, `x2`, and `x1`, and use criterion-based selection to select only the observations where `x1` is greater than 2 and not equal to `x3` (from the full dataset).  Then add a synthetic variable that expresses the means of the numeric variables.  Then use an observation offset to add a synthetic variable that expresses the difference between the means of adjecent observations.

You may want to use these function(s):
* rowMeans()

Note: `!=` is the operator to test for non-equivalence.

  name x3  x2  x1
1 A    9.0 7.0 2.5
3 C    1.0 1.0 9.0
4 D    2.0 7.0 6.5
5 E    1.5 2.5 8.0
6 F    9.0 8.5 4.0

  name x3  x2  x1  mean
1 A    9.0 7.0 2.5 6.166667
3 C    1.0 1.0 9.0 3.666667
4 D    2.0 7.0 6.5 5.166667
5 E    1.5 2.5 8.0 4.000000
6 F    9.0 8.5 4.0 7.166667

  name x3  x2  x1  mean     diff
1 A    9.0 7.0 2.5 6.166667  2.500000
3 C    1.0 1.0 9.0 3.666667 -1.500000
4 D    2.0 7.0 6.5 5.166667  1.166667
5 E    1.5 2.5 8.0 4.000000 -3.166667
6 F    9.0 8.5 4.0 7.166667        NA

<font size=1;>
<p style="text-align: left;">
Copyright (c) Berkeley Data Analytics Group, LLC
<span style="float: right;">
Document revised December 28, 2020
</span>
</p>
</font>